<mat-form-field appearance="fill">
<!--  <mat-label>Search</mat-label>-->
  <input matInput [(ngModel)]="searchText" (input)="applyFilters()" placeholder="Search products" />
</mat-form-field>

<mat-form-field appearance="fill">
<!--  <mat-label>Type</mat-label>-->
  <mat-select [(ngModel)]="selectedType" (selectionChange)="applyFilters()">
    @for (type of types; track type) {
      <mat-option [value]="type">{{ type }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<div>
  @for (price of priceRanges; track price) {
    <label>
      <input
        type="checkbox"
        [value]="price"
        (change)="togglePriceRange(price)"
        />
        Up to ${{ price }}
      </label>
    }
  </div>
