<h1>Shopping Cart</h1>

<button mat-stroked-button color="primary" [routerLink]="'/products'">
  ⬅️ Back to Products
</button>

<div class="cart-container">
  @for (item of (items$ | async); track item) {
    <div class="cart-item">
      <img class="product-image" [src]="item.product.images[0]" alt="{{ item.product.name }}">

      <div class="item-details">
        <p class="product-name">{{ item.product.name }}</p>
        <p class="product-price">$ {{ item.product.price }} (x{{ item.quantity }})</p>
        <button mat-button color="warn" (click)="removeItem(item.product.id)">Remove</button>
      </div>
    </div>
  }
</div>

<h2 class="total-amount">Total: ${{ total$ | async }}</h2>
